footer {
    margin-top: 150px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-itens {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-itens-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-itens p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(11, 27, 54, 0.6);
    width: 236px;
    height: 56px;
}


.footer-icon {
    display: flex;
    gap: 20px;
    
}

.list {
    list-style: none;
}

.list h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #01A3C2;
}

.list a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 3em;
    color: rgba(11, 27, 54, 0.6);
}