* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    margin: 0 auto;
    padding-top: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.header-nav ul li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(11, 27, 54, 0.49);

}

.contact {
    display: flex;
    gap: 40px;
}

.contact a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    display: flex;
    align-items: center;
}
.contact-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 52px;
    background: #01A3C2;
    border-radius: 24px;
    color: white;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.vpn-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.vpn-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 535px;
    height: 396px;
}

.vpn-title h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: #0B1B36;
    width: 524px;
    height: 216px;
}

.vpn-title p {
    width: 520px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(11, 27, 54, 0.6);
}

.vpn-button {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 12rem;
}

.vpn-button button {
    width: 157px;
    height: 52px;
    background: #01A3C2;
    border-radius: 24px;
    border: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.vpn-button a {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #01A3C2;
}

.vpn-connect {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto
}


.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.connect h2 {
    width: 550px;
    height: 216px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: #0B1B36;

}

.connect p {
    width: 535px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(11, 27, 54, 0.6);
}

.button-connect {
    padding-right: 23rem;
}

.connect button {
    width: 169px;
    height: 52px;
    background: #01A3C2;
    border-radius: 24px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.vpn-price {
    margin-top: 100px;
}

.price-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 150px;
    margin: 0 auto;
}

.price-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #0B1B36;
}

.price-text {
    width: 535px;
    height: 59px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(11, 27, 54, 0.6);
}

.vpn-cards {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.card-1 {
    width: 379px;
    height: 500px;
    background: #ffffff;
    box-shadow: 0px 10px 94px rgba(63, 49, 49, 0.25);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.card-title {
    padding-right: 100px;
}

.card-title h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #0B1B36;
}

.card-title h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #01A3C2;
}

.card-title h5 span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
    color: #01A3C2;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding-right: 90px;
}

.card-list li {
    display: flex;
    gap: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(11, 27, 54, 0.6);
    padding-right: 1.2rem;
}

.card-1 a {
    width: 299px;
    height: 52px;
    background: #01A3C2;
    border-radius: 24px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 450px;
}


.vpn-user {
    margin-top: 200px;
}

.user-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 100px;
    align-items: center;
}

.user-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #0B1B36;
}

.user-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(11, 27, 54, 0.6);
}

.comments-cards {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.comment-card-1 {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 379px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 10px 94px rgba(204, 204, 204, 0.25);
    border-radius: 24px;
}

.card-itens {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 15px;
}

.card-itens-2 {
    display: flex;
    align-items: center;
    gap: 80px;
}

.card-itens-name h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.card-itens-name p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}

.comment-p {
    text-align: left;
    width: 330px;
    height: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #999999;
    padding: 20px;
}

.vpn-publicity {
    display: flex;
    margin-top: 150px;
}

.card-publicity {
    position: relative;
    width: 1200px;
    height: 452px;
    background: #01A3C2;
    border-radius: 40px;
}

.text-publicity {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin-right: 450px;
    gap: 20px;
}

.text-publicity h5 {
    width: 488px;
    height: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.text-publicity p {
    width: 450px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 30px;
}

.text-publicity a {
    width: 153px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#01A3C2;
    margin-right: 390px;
}

.small-circle {
    padding-left: 32rem;
    margin-top: -85px;
}

.small-circle-2 {
    display: flex;
    position: absolute;
    margin-left: 85%;
    margin-top: 15%;
}

.small-circle-3 {
    display: flex;
    position: absolute;
    padding-left: 77%;
    padding-top: 3rem;
}
.big-circle {
    position: absolute;
    display: flex;
    padding-left: 40rem;
}